<div class="jumbotron">
    <h1 class="display-4">Acesso não autorizado!</h1>
    <p class="lead">Ops, Parece que você não possui autorização para visualizar essa página.</p>
    <hr class="my-4">
    <p>Caso voce tenha caído aqui sem querer, basta clicar no botão de voltar. Mas se você precisa acessar essa página, solicite permissão a um admnistrador.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="javascript:history.back()" role="button">Voltar página anterior</a>
    </p>
</div>